/*
---01 Typography system    
-FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98   
-Font weights
-Line height
---02 Colors
Primary:

-Tints: 
-Shades:
-Accents:
#a55eea
-Greys:
---05 Shadows
--- 06 Border-Radius
main:7px
---07 Whitespace
-SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --accent:#a55eea;
    --shade:#e4cff9;
    --lightMain:#f6effd;
    --blackSection:#15181B;
    --blackText:#21132f;
}
html{
    font-size:10px;
}
body{
    font-family:'Roboto' , sans-serif;
    color:var(--lightMain);
    background-color:var(--blackSection);
    overflow-x: hidden;
}
ul{
    list-style: none;
}
img{
    width:100%;
}
p{
    font-size:1.8rem;
    line-height: 1.8;
}
a{
    text-decoration: none;
    color:inherit;
}
.container{
    padding:0rem 4rem;
    max-width: 1200px;
    margin:0 auto;
}
/*
#####################
Utilities
#####################
*/
.grid{
    display:grid;
}
.grid--2-cols{
    grid-template-columns: repeat(2,1fr);
}
.main-header{
    font-size:5.2rem;
    margin-bottom:3.2rem;
}
.secondary-header{
    font-size:4.4rem;
    margin-bottom:3.2rem;
} 
.subheading{
    font-size:2.4rem;
    color:var(--accent);
    margin-bottom:1.2rem;
}
.tertiary-header{
    font-size:3rem;
    line-height:1.2;
    margin-bottom:3.2rem;
}
.gap-large{
    gap:9.6rem;
}
.mb-small{
    margin-bottom:1.2rem;
}
.primary-btn{
    font-size:2.4rem;
    border:none;
    outline:none;
    background-color:var(--accent);
    color:white;
    font-weight:700;
    padding:0.8rem 3.2rem;
    cursor: pointer;
    border-radius:7px;
    transition: all 0.4s ease-in-out;
}
.section-white
{
    background-color:var(--lightMain);
}
/*
#####################
navigation
#####################
*/
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1.6rem 0rem 0rem 0rem;
}
.logo{
    display:flex;
    align-items: center;
}
.logo-text{
    font-size:3.6rem;
    font-weight:500;
    letter-spacing: 1px;
}
.logo-icon{
    font-size:5.2rem;
    color:var(--accent);
}
.nav-list{
    display:flex;
    gap:4.8rem;
}
.nav-link{
    font-size:2.4rem;
    font-weight:500;
    transition: 0.2s all;
}
.nav-link:hover{
    color:var(--accent);
}
/*
#####################
header
#####################
*/
.header-section{
    margin-top:4.8rem;
    padding-bottom:8rem;
}
.header-textbox{
    padding:4rem 4rem 0rem 0rem;
}
.learn-more{
    font-size:2rem;
    font-weight:600;
    margin-left:1.2rem;
    transition: 0.2s all;
}
.learn-more:hover{
    color:var(--accent);
}
.header-image{
    box-shadow:0px 0px 10px 0px #a45eea69;
    border-radius: 7px;
}
/*#####################
How it works
#####################
*/
.section-how{
    color:var(--blackText);
    padding:8rem 0;
}
.step-img{
    display:flex;
    justify-content: center;
}
.step-img img {
    width:100%;
    box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.103);
    border-radius: 7px;
}
.step-text
{
    align-self: center;
}
.step-number
{
    font-size:8rem;
    color:#dee2e6;
    font-weight: 700;
    line-height: 1.2;
}
.how-gaps{
    column-gap:6.4rem;
    row-gap:4.8rem;
}
/*#####################
Features
#####################
*/
.section-features{
    padding:8rem 0;
}
.features-grid
{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:3.2rem;
    margin-bottom:9.6rem;
}
.icon-box{
    font-size:3rem;
    color:var(--accent);
    background-color:var(--lightMain);
    padding:1.6rem;
    border-radius:100px;
    display:inline-block;
    margin-bottom:3.2rem;
}
.feature-title{
    font-size:2.4rem;
    line-height: 1.2;
}
/*#####################
Testimonials
#####################
*/
.swiper-container {
    overflow: hidden;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 320px;

    background-color:var(--lightMain);
    color:var(--blackText);
    padding:4rem;
    border-radius:7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    filter: blur(4px);
}
.swiper-slide-active
{
    filter: blur(0px);
}
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right
{
    background-image: none;
}
.quote{
    font-size:4rem;
    color:var(--accent);
    display:flex;
    justify-content: end;
    margin-bottom:0.8rem;
}
.quote-box
{
    display:flex;
    justify-content: right;
}
.user-box{
    margin-top:1.6rem;
    display:flex;
    align-items: center;
    gap:1.2rem;
}
.user-name{
    font-size:2rem;
    line-height: 1;
    color:var(--accent);
}
.user-photo{
    width:6.4rem;
    border-radius: 100px;
}
/*#####################
CTA
#####################
*/
.cta-section
{
    padding-bottom:9.6rem;
}
.cta{
    background-color: var(--accent);
    color:var(--lightMain);
    padding:3.2rem 12rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
}
.cta-header{
    font-size:2.4rem;
    line-height: 1.2;
}
.cta-content{
    font-size:1.8rem;
}
.cta-button{
    font-size:2.4rem;
    border:2px solid var(--lightMain);
    outline:none;
    background-color:transparent;
    color:white;
    font-weight:700;
    padding:0.8rem 3.2rem;
    cursor: pointer;
    border-radius:7px;
    transition: all 0.4s ease-in-out;
}
.cta-button:hover
{
    background-color: var(--lightMain);
    color: var(--accent);
}
.primary-btn:hover
{
    background-color: var(--lightMain);
    color: var(--accent);
}
/*#####################
Footer
#####################
*/
footer{
    background-color: var(--accent);
    padding:2rem;
    display:flex;
    justify-content: center;
}
.footer-text{
    font-size:2.4rem;
    font-weight: 700;
}